.intro_Loading_screen{
  animation: FadeUpnDown 3s alternate infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}

@keyframes FadeUpnDown {
  from{opacity: 0;}
  to{opacity:1}
}