.dressing_txt_img{
    width: 35%;
    position: absolute;
    bottom: 14%;
    left: 25%;
    background:#FFACF6;
    padding: 5%;
    border-radius: 100%;
    border: 5px solid white;
    z-index: 9;
}

.play_btn{
    position: absolute;
    z-index: 9;
    width: 10%;
    left: 43%;
    bottom: 3%;
    cursor: pointer;
    animation:play_btn 2s alternate infinite !important;
}

.branch1_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
}

.branch1_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 8.5%;
 
}

.branch2_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top:-1%;
  left: 10.5%;

}

.branch3_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 21.5%;
}

.branch4_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 32.5%;
}

.branch5_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 43.5%;
}

.branch2_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 21%;
  position: absolute;
  left: 19.5%;
  width: 39%;
  top: -1%;
}

.branch3_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 31.5%;
  position: absolute;
    width: 39%;
    left: 30.5%;
    top: -1%;
}

.branch4_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 42%;
  position: absolute;
  width: 39%;
  left: 41.5%;
  top: -1%;
}

.branch5_swing{
 
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: -1%;
  left: 38.5%;

}

.pause{
  position: absolute;
    bottom: 0px;
    left: 187pt;
    width: 20pt;
    height: 20pt;
    background: red;
    width: fit-content;
    z-index: 9;
}

.Big_frog{
  position: absolute;
    left: 66%;
    bottom: 30%;
}

.water_ripple_pos{
  position: absolute;
  left: 24%;
  bottom: 26%;
}

.swing_1{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
    top: -1%;
    left: 1%;
}

.swing_2{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: -1%;
  left: 12%;
}


.swing_3{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: -1%;
  left: 23%;
}

.swing_4{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: -1%;
  left:34%;
}

.swing_5{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: -1%;
  left: 45%;
}

._1st_pebel{
  position: absolute;
  bottom: 10px;
  left: 35%;
  width: 12%;
}

._2nd_pebel{
  position: absolute;
  bottom: 10px;
  left: 54%;
  width: 12%;
}

.num_pos_1{
  position: absolute;
  left: 39%;
  bottom: 36px;
  font-size: 900%;
  z-index: 9;
  font-weight: bold;
  cursor: pointer;
}

.num_pos_2{
  position: absolute;
  left: 58%;
  bottom: 36px;
  font-size: 900%;
  z-index: 9;
  font-weight: bold;
  cursor: pointer;
}

.frog_start{
  position: absolute;
    bottom: -4.5%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left: 15%;  
}

.frog_start_jump{
  position: absolute;
    bottom: -4.5%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left: 15%;
}

.frog_second_jump{
  position: absolute;
    bottom: -3.8%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left: 26.3%;
    animation: topdown 1s linear forwards
}

@keyframes topdown {
  to{
    bottom: -6%;
    left:24%
  }
}

.frog_third_jump{
  position: absolute;
    bottom: -6%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left:34%;
    animation: fourthJump 1s linear forwards;
}

@keyframes fourthJump {
  to{
    left:32%;
  }
  
}



.frog_fourth_jump{
  position: absolute;
    bottom: -6%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left:42%;
    animation: fifthJump 1s linear forwards;
}

@keyframes fifthJump {
  to{
    left:40%;
    bottom:-8%
  }
  
}

.frog_fifth_jump{
  position: absolute;
  bottom: -6%;
  z-index: 0;
  width: 20%;
  height: 100%;
  left:50%;
  animation: sixthJump 1s linear forwards;
}

@keyframes sixthJump {
  to{
    left:49%;
    bottom:-8%
  }
  
}


@keyframes play_btn {
  to{
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.3);
  }
}

.select_bg{
  
  width: 100%;
  height: 100%;
  background: #1a667c;
  position: absolute;
  left: 0%;
  bottom: 0%;
  opacity: 0.75;

}

.first_circle{
  position: absolute;
  left: 20%;
  width: 25%;
  bottom: 20%;
  cursor: pointer;
}

.second_circle{
  position: absolute;
  left: 55%;
  width: 25%;
  bottom: 20%;
  cursor: pointer;
}

.frog_selct_char{
  position: absolute;
  left: 24.7%;
  width: 15%;
  bottom: 35%;
  cursor: pointer;
}

.monkey_select_char{
  position: absolute;
  left: 61%;
  width: 14%;
  bottom: 27%;
  cursor: pointer;
}

.play_butn{
  width: 12%;
  position: absolute;
  left: 49%;
  bottom: 10%;
}


.flower_star_1{
  position: absolute;
    width: 16%;
    left: 6%;
    top: 2.5%;
}

.flower_star_2{
  position: absolute;
    width: 16%;
    left: 25%;
    top: 2.5%;
}

.flower_star_3{
  position: absolute;
    width: 16%;
    left: 43.4%;
    top: 2.5%;
}

.flower_star_4{
  position: absolute;
    width: 16%;
    left: 61.4%;
    top: 2.5%;
}

.flower_star_5{
  position: absolute;
    width: 16%;
    left: 79.4%;
    top: 2.5%;
}

.b_star_1{
  position: absolute;
    width: 9%;
    left: 11%;
    top: 2.5%;
}


.b_star_2{
  position: absolute;
    width: 9%;
    left: 29%;
    top: 2.5%;
}

.b_star_3{
  position: absolute;
    width: 9%;
    left: 46%;
    top: 2.5%;
}

.b_star_4{
  position: absolute;
    width: 9%;
    left: 64.5%;
    top: 2.5%;
}

.b_star_5{
  position: absolute;
    width: 9%;
    left: 80.5%;
    top: 2.5%;
}

.replayBtn{
  position: absolute;
  width: 10%;
  left: 80%;
  bottom: 2%;
}

.mute_btn{
  position: absolute;
  left: 12%;
  bottom: 36%;
  width: 3%;
  z-index: 999;
}