.dressing_txt_img{
    width: 35%;
    position: absolute;
    bottom: 14%;
    left: 25%;
    background:#FFACF6;
    padding: 5%;
    border-radius: 100%;
    border: 5px solid white;
    z-index: 9;
}

.play_btn{
    position: absolute;
    z-index: 9;
    width: 10%;
    left: 43%;
    bottom: 3%;
    cursor: pointer;
    animation:play_btn 2s alternate infinite !important;
}

.branch1_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
}

.branch1_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 8.5%;
}

.branch2_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 10.5%;
}

.branch3_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 21.5%;
}

.branch4_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 32.5%;
}

.branch5_idle{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 43.5%;
}

.branch2_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 21%;
}

.branch3_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 31.5%;
}

.branch4_swing{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 42%;
}

.branch5_swing{
 
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 100%;
  top: 0px;
  left: 38.5%;

}

.pause{
  position: absolute;
    bottom: 0px;
    left: 187pt;
    width: 20pt;
    height: 20pt;
    background: red;
    width: fit-content;
    z-index: 9;
}



.swing_1{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
    top: 0%;
    left: 1%;
}

.swing_2{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: 0%;
  left: 12%;
}


.swing_3{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: 0%;
  left: 23%;
}

.swing_4{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: 0%;
  left:34%;
}

.swing_5{
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 39%;
  height: 67%;
  top: 0%;
  left: 45%;
}




.frog_start{
  position: absolute;
    bottom: -4.5%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left: 15%;  
}

.frog_start_jump{
  position: absolute;
    bottom: -4.5%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left: 15%;
}

.frog_second_jump{
  position: absolute;
    bottom: -3.8%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left: 26.3%;
    animation: topdown 1s linear forwards
}

@keyframes topdown {
  to{
    bottom: -6%;
    left:24%
  }
}

.frog_third_jump{
  position: absolute;
    bottom: -6%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left:34%;
    animation: fourthJump 1s linear forwards;
}

@keyframes fourthJump {
  to{
    left:32%;
  }
  
}



.frog_fourth_jump{
  position: absolute;
    bottom: -6%;
    z-index: 0;
    width: 20%;
    height: 100%;
    left:42%;
    animation: fifthJump 1s linear forwards;
}

@keyframes fifthJump {
  to{
    left:40%;
    bottom:-8%
  }
  
}

.frog_fifth_jump{
  position: absolute;
  bottom: -6%;
  z-index: 0;
  width: 20%;
  height: 100%;
  left:50%;
  animation: sixthJump 1s linear forwards;
}

@keyframes sixthJump {
  to{
    left:49%;
    bottom:-8%
  }
  
}


@keyframes play_btn {
  to{
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.3);
  }
}