.dressing_txt_img{
    width: 35%;
    position: fixed;
    bottom: 14%;
    left: 25%;
    background:#FFACF6;
    padding: 5%;
    border-radius: 100%;
    border: 5px solid white;
    z-index: 9;
}

.play_btn{
    position: fixed;
    bottom: 5%;
    left: 92%;
    z-index: 9;
}

.intro_lottie_container{
  position: fixed;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
}