.start_monkey{
  
  position: absolute;
  left: 10%;
  width: 32%;
  bottom: 0px;

}

.standing_monkey{
  position: absolute;
  width: 20%;
  height: 35%;
  right: 23%;
  bottom: 15%;
}