.char_pos{
  position: absolute;
  z-index: 9999;
  bottom: 0%;
  left: 10%;
  width: 20%;
}

#move_shirt{
  position: absolute;
  z-index: 99999;
 animation:moveShirt 1s forwards 1;
}

#summer_pant{
  position: absolute;
  z-index: 9999;
  animation:movePant 1s forwards 1;
}

#summer_cap{
  position: absolute;
  z-index: 9999;
  animation:moveCap 1s forwards 1;
}

.first{
  position: absolute;
  bottom: 30%;
  left: 35%;
  width: 20%;
}


.second{
  position: absolute;
  bottom: 30%;
  left: 55%;
  width: 20%;
}

.third{
  position: absolute;
  bottom: 30%;
  left: 75%;
  width: 20%;
}


@keyframes moveShirt {
  to{
    width: 20%;
    bottom: 35%;
    left: 13%;
  }
}

@keyframes movePant {
  to{
  width: 20%;
  bottom: 16.5%;
  left: 13%;
  }  
}


@keyframes moveCap {
  to{
    bottom: 72%;
    width: 18%;
    left: 14%;
  }  
}